extends ../components/base/layout

block variables
  - const title = "Список страниц"
  - const noLoader = true

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
    }

    ol {
      padding: 0 0 0 20px;
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 10px;
    }

    li:last-child {
      margin: 0;
    }

    a {
      color: rgb(10, 10, 175);
      transition: opacity 0.3s ease;
    }

    a:hover {
      opacity: 0.8;
    }

    img {
      display: block;
      width: 375px;
      height: 100px;
      margin: 0 0 40px;

      background-color: #000000;

      object-fit: contain;
    }

    @media (max-width: 767px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      img {
        width: 260px;
        height: 70px;
      }
    }

  -
    const pages = [
      {
        href: "ui-kit.html",
        name: "UI-kit — ui-kit.html"
      },
      {
        href: "index.html",
        name: "Главная — index.html"
      }
    ]

  main
    .container
      img(src="img/sprite/logo.svg" width="375" height="100" alt="Логотип проекта Globals")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href=page.href)!=page.name
