extends ../components/base/layout

block variables
  - const title = "UI-kit"
  - const currentUrl = "ui-kit.html"
  -
    const breadcrumbsLinks = [
      {
        href: "ui-kit.html",
        text: "UI-kit"
      }
    ]
  -
    const headerLinks = [
      {
        href: "#modals",
        text: "Modals"
      },
      {
        href: "#buttons",
        text: "Buttons"
      },
      {
        href: "#form-elements",
        text: "Form elements"
      }
    ]

block main
  style.
    .header-ui__wrapper {
      padding: 10px 0;
    }

    .header-ui__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
    }

    .header-ui__item {
      margin: 0 15px 0 0;
    }

    .header-ui__item:last-child {
      margin: 0;
    }

    .header-ui__link {
      transition: opacity 0.3s ease;
    }

    .header-ui__link:hover {
      opacity: 0.8;
    }

  header.header-ui
    .container
      .header-ui__wrapper
        ul.list-reset.header-ui__list
          each item in headerLinks
            li.header-ui__item
              a.header-ui__link(href=item.href)!=item.text
  main
    .container
      h1 UI-kit
      section.section-ui(id="modals")
        h2.section-ui__title Modals
        +btn({type: "button", text: "Feedback"})(data-open-modal="feedback")
        p Все модальные окна подключаются на страницах в блоке modals (/pug/pages/*.pug)
        p На кнопку добавляется data атрибут data-open-modal="название модального окна"
        p Пример вызова кнопки:
        pre
          code +btn({type: "button", text: "Кнопка"})(data-open-modal="feedback")
        p Пример вызова модального окна:
        pre
          code
            | +modal('modal--feedback')(data-modal="feedback")
            |   +feedback()
      section.section-ui(id="buttons")
        h2.section-ui__title Buttons
        +btn({type: "button", text: "Кнопка"})
        p Пример вызова:
        pre
          code +btn({type: "button", text: "Кнопка"})
      section.section-ui(id="form-elements")
        h2.section-ui__title Form elements
        +custom-input({
          label: "Имя",
          type: "text",
          name: "name",
          placeholder: "Введите имя"
        })
        p Пример вызова:
        pre
          code +custom-input({label: "Имя", type: "text", name: "name", placeholder: "Введите имя"})
        +custom-textarea({
          label: "Комментарий",
          name: "comment",
          value: "комментарий",
          placeholder: "Введите комментарий"
        })
        p Пример вызова:
        pre
          code +custom-input({label: "Комментарий", name: "comment", value: "комментарий", placeholder: "Введите комментарий"})

block modals
  +modal('modal--feedback')(data-modal="feedback")
    +feedback()
