mixin intro()
  section.intro
    .intro__background
      +picture("content", "intro-background", "png", 1920, 850, "background")
    //- вставлять блоки во внешний контейнер неверно (если это не фон, например)
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__wrapper
        h1.intro__title
          span Lorem ipsum
          = " dolor sit ametconsectetur "
          span adipiscing
        p.intro__description At&nbsp;vero eos et&nbsp;accusamus et&nbsp;iusto odio dignissimos
        ul.intro__list
          li.intro__item
            span Totam rem aperiam eaque ipsa
          li.intro__item
            span Sit voluptatem accusantium doloremque laudantium
          li.intro__item
            span Sed ut perspiciatis, unde omnis iste natus error
        .intro__buttons
          +btn({text: "заказать", type: "button"}).intro__button
          +btn({text: "подробнее", type: "button"}).btn--white.intro__button
