mixin intro()
  section.intro
    .container
      .intro__wrapper
        .intro__info
          h1.intro__title Корма из натурального сырья и&nbsp;другая продукция для животных
          .intro__content
            p Мы&nbsp;&mdash; российская компания-производитель качественных и&nbsp;экологичных товаров для животных по&nbsp;приемлемым ценам под торговой маркой PROFODDER.
          +btn({href: "#", text: "Смотреть товары"}).intro__button
          .intro__background
            +img("content/intro", "paws", "webp", "200", "200", "")
        .intro__image
          picture
            source(media="(max-width: 679px)" srcset="img/content/intro/cat-and-dog-mobile.webp, img/content/intro/cat-and-dog-mobile@2x.webp 2x")
            source(media="(max-width: 1023px)" srcset="img/content/intro/cat-and-dog-tablet.webp, img/content/intro/cat-and-dog-tablet@2x.webp 2x")
            img(src="img/content/intro/cat-and-dog.webp" srcset="img/content/intro/cat-and-dog@2x.webp 2x" width="750" height="420" alt="Кошка и собака на фоне травы")
          //- +img("content/intro", "cat-and-dog", "webp", "750", "420", "Кошка и собака на фоне травы")
        +btn({href: "#", text: "Смотреть товары"}).intro__button.intro__button--tablet
