.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 20px 13px;

  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  border: none;
  border-radius: 8px;
  background-color: $color-crusoe;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  outline: none;

  @include vp-1023 {
    font-size: 16px;
    line-height: 22px;
  }

  &--white {
    padding: 9px 19px;

    border: 1px solid $color-crusoe;
    background-color: $color-default-white;
    color: $color-crusoe;
  }

  &--small {
    padding: 7px 15px 8px;

    @include vp-679 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__icon {
    flex-shrink: 0;

    width: 14px;
    height: 14px;
    margin: 0 0 0 6px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &.disabled {
    pointer-events: none;
  }
}
