.custom-radio {
  label {
    position: relative;
    display: inline-flex;
    align-items: center;

    cursor: pointer;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 20px;
    height: 20px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: $color-default-white;

    transition: border $trans-default;

    &::after {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      width: 10px;
      height: 10px;

      border-radius: 50%;

      transition: visibility $trans-default, opacity $trans-default;
      transform: translate(-50%, -50%);

      visibility: hidden;
      opacity: 0;
    }
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  input:checked + .custom-radio__icon {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    user-select: none;
  }
}
