.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include vp-679 {
    display: none;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 170px;
    height: 116px;
    margin: 0 20px 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: $color-dawn;

    svg {
      flex-shrink: 0;

      width: 112px;
      height: 75px;
      margin: 0 0 1px;

      color: $color-crusoe;
    }
  }

  &__list {
    display: flex;

    @include vp-1023 {
      flex-direction: column;
    }
  }
}
