.intro {
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(450px, 530px) minmax(490px, 1fr);
    column-gap: 20px;
    padding: 20px 0 100px;

    @include vp-1279 {
      padding: 20px 0 80px;
    }

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      padding: 40px 0 60px;
    }

    @include vp-679 {
      padding: 20px 0 50px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 100px 30px 25px;

    border-radius: 20px;
    background: $color-default-white;
    box-shadow: 0px 0px 10px rgba(103, 94, 29, 0.04);

    @include vp-1279 {
      padding: 80px 30px 25px;
    }

    @include vp-1023 {
      padding: 0;

      border-radius: 0;
      background-color: $color-transparent;
      box-shadow: none;
    }
  }

  &__title {
    margin: 0 0 20px;

    font-weight: 400;
    font-size: 36px;
    line-height: 47px;

    color: $color-charcoal;

    @include vp-1023 {
      margin: 0 0 15px;

      font-size: 30px;
      line-height: 39px;
    }

    @include vp-679 {
      margin: 0 0 20px;
    }
  }

  &__content {
    margin: 0 0 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: $color-charcoal;

    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;
    }

    p {
      margin: 0 0 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__background {
    z-index: 0;
    position: absolute;
    top: 110px;
    right: -28px;

    width: 200px;
    height: 200px;

    transform: rotate(-20deg);

    @include vp-1279 {
      top: unset;
      bottom: 67px;
      right: 17px;

      width: 120px;
      height: 120px;
    }

    @include vp-1023 {
      display: none;
    }

    img {
      width: 200px;
      height: 200px;

      object-fit: cover;

      @include vp-1279 {
        width: 120px;
        height: 120px;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 750px;
    height: 100%;

    border-radius: 20px;

    @include vp-1023 {
      height: auto;
      max-height: 480px;
      margin: 0 0 30px;
    }

    @include vp-679 {
      margin: 0 0 20px;
    }

    img {
      width: 100%;
      max-width: 750px;
      height: 100%;

      border-radius: 20px;

      object-fit: cover;
      object-position: 80%;

      @include vp-1023 {
        height: auto;
        max-height: 480px;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: 270px;
    margin: auto 0 0;

    @include vp-1023 {
      display: none;
      max-width: unset;
      margin: 0;
    }

    &--tablet {
      display: none;

      @include vp-1023 {
        display: inline-flex;
      }
    }
  }
}
