mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Бизнес",
        isActive: true,
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Цены"
      },
      {
        href: "#",
        text: "Оформить заказ"
      }
    ]

  header.header(class=headerMods data-header)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          span.header__logo
            +icon("logo", 247, 35)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 247, 35)
        nav.main-nav
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
          ul.main-nav__list
            each item in headerLinks
              li.main-nav__item
                a.main-nav__link(class={"is-active": item.isActive} href=item.href)!=item.text

