doctype html

include ../components

block variables

html(lang="ru")
  head
    title=title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Global")

    link(rel="preload", href="fonts/Rubik-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Rubik-Medium.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Rubik-SemiBold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Rubik-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/main.min.js")
    script(src="js/vendor.min.js")
